* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    color: white;
    height: 60px;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url(./images/amazon_logo.png);
    background-size: cover;
    height: 60px;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/* BOX 2 */

.add-first {
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 15px;
}

.add-second {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* BOX 3 */

.nav-search {
    display: flex;
}

select {
    background-color: #f0f0f0;
}

.select-search {
    height: 34px;
    width: 43px;
}

.input-search {
    padding: 7px 10px 10px 0px;
    height: 23px;
    width: 520px;
    font-size: 1rem;   
}

.fa-magnifying-glass {
    background-color: #ffb834;
    color: black;
    padding: 9.5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 25px;
}

/* BOX 4 */

.select-country select {
    height: 29px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border: none;
}

/* BOX 5 */

.signin p span {
    font-size: 0.75rem;
}

.signin select {
    font-size: 0.9rem;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border: none;
}

/* BOX 6 */

.orders p span {
    font-size: 0.75rem;
}

.orders p {
    font-weight: 600;
    font-size: 0.9rem;
}

/* BOX 7 */

.cart {
    display: flex;
}

.cart-logo {
    font-size: 1.5rem;
    margin-right: 3px;
}

.cart p {
    margin-top: 6px;
    font-weight: 600;
}

.panel {
    background-color: #232f3e;
    color: white;
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
}

.inner-panel-1 {
    display: flex;
    gap: 15px;
}
.item1 {
    display: flex;
    margin-right: 10px;
}

.items p {
    font-weight: 400;
    margin-left: 3px;
}

.item6 {
    float: right;
}