@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    /* background-color: whitesmoke; */
}

/* --------- */
/* ASSETS */
/* --------- */

:root {
    --blue-theme-color: #4285f4;
    --primary-text-color: #000000;
    --secondary-text-color: #808080;
    --grey-background-color: #f6f6f6;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
}

/* --------- */
/* NAV SECTION */
/* --------- */

.navbar {
    padding: 20px 0px;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 1px 3px -2px var(--secondary-text-color);
}
.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav-content .logo a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 32px;
}

.navbar .nav-content .logo a span {
    color: var(--blue-theme-color);
}

.navbar .nav-content .nav-list ul {
    display: flex;
    gap: 30px;
}

.navbar .nav-content .nav-list ul li {
    list-style: none;
}

.navbar .nav-content .nav-list ul li a {
    color: var(--primary-text-color);
    font-size: 16px;
    text-decoration: none;
}

.navbar .nav-content .nav-list ul li a:hover {
    color: var(--blue-theme-color);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

/* --------- */
/* HERO SECTION */
/* --------- */

.hero-content {
    display: flex;
    justify-content: space-between;
}

.hero-content .left-section h1 {
    font-size: 56px;
    line-height: 70px;
    padding: 90px 0px 20px 0px;
}

.hero-content .left-section p {
    color: var(--secondary-text-color);
    padding-right: 20px;
    padding-bottom: 40px;
}

.hero-content .left-section button {
    background-color: var(--blue-theme-color);
    border: none;
    border-radius: 40px;
    padding: 15px 30px;
}

.hero-content .left-section button:hover {
    box-shadow: 0px 3px 15px 0px var(--blue-theme-color);
    transform: translateY(-2px);
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.hero-content .left-section button a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.hero-content .right-section .hero-img img {
    width: 600px;
}

/* --------- */
/* FEATURES SECTION */
/* --------- */

.features-section {
    padding-top: 80px;
}

.features-section .features-content .top-section h1 {
    font-size: 40px;
    text-align: center;
}

.features-section .features-content .top-section p {
    font-size: 20px;
    color: var(--secondary-text-color);
    text-align: center;
    padding: 10px 280px;
}

.features-section .features-content .bottom-section1 {
    padding-top: 100px;
    display: flex;
    gap: 60px;
}

.features-section .features-content .bottom-section1 .containers {
    background-color: #f1f1f1;
    text-align: center;
    padding: 0px 30px 30px 30px;
    border-radius: 10px;
}

.features-section .features-content .bottom-section1 .containers:hover {
    background-color: var(--blue-theme-color);
}

.features-section .features-content .bottom-section1 .containers h3 {
    margin-top: -20px;
    font-weight: 400;
}

.features-section .features-content .bottom-section1 .containers p {
    line-height: 25px;
    color: var(--secondary-text-color);
}

.features-section .features-content .bottom-section1 .containers a {
    text-decoration: none;
}

.features-section .features-content .bottom-section1 i {
    font-size: 25px;
    color: white;
    background-color: var(--blue-theme-color);
    padding: 30px;
    border-radius: 50%;
    position: relative;
    bottom: 40px;
}

.features-section .features-content .bottom-section2 {
    display: flex;
}

.features-section .features-content .bottom-section2 {
    padding-top: 80px;
    display: flex;
    gap: 60px;
}

.features-section .features-content .bottom-section2 .containers {
    background-color: #f1f1f1;
    text-align: center;
    padding: 0px 30px 30px 30px;
    border-radius: 10px;
}

.features-section .features-content .bottom-section2 .containers h3 {
    margin-top: -20px;
    font-weight: 400;
}

.features-section .features-content .bottom-section2 .containers p {
    line-height: 25px;
    color: var(--secondary-text-color);
}

.features-section .features-content .bottom-section2 .containers a {
    text-decoration: none;
}

.features-section .features-content .bottom-section2 i {
    font-size: 25px;
    color: white;
    background-color: var(--blue-theme-color);
    padding: 30px;
    border-radius: 50%;
    position: relative;
    bottom: 40px;
}

/* --------- */
/* COMMUNICATE SECTION */
/* --------- */

.communicate-section {
    padding-top: 100px;
}

.communicate-content {
    display: flex;
    gap: 60px;
}

.communicate-section .communicate-content .left-section img {
    width: 600px;
    height: 600px;
    padding-left: 40px;
}

.communicate-section .communicate-content .right-section h1 {
    font-size: 40px;
    padding: 140px 20px 30px 0px;
}

.communicate-section .communicate-content .right-section p {
    padding-right: 20px;
    line-height: 30px;
    color: var(--secondary-text-color);
}

.communicate-section .communicate-content .right-section .testimonial {
    margin-top: 20px;
    padding: 20px 40px;
    box-shadow: 0px 0px 15px -1px #bcbcbc;
    border-top: 8px solid var(--blue-theme-color);
}

.communicate-section .communicate-content .right-section .testimonial .info {
    display: flex;
}

.communicate-section .communicate-content .right-section .testimonial .info h3 {
    padding-left: 10px;
}

.communicate-section .communicate-content .right-section .testimonial img {
    width: 50px;
    border-radius: 50%;
}

.communicate-section .communicate-content .right-section .testimonial .comment {
    padding-top: 20px;
}